<html ng-app="acomsysAdminLoginApp">

  <head>
    <title> Welcome to Acomsys CMS!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Acomsys theme -->
    <link rel="stylesheet" href="css/admin-style.css">

    <!-- jQuery Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- CDN for AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.14/angular-messages.min.js"></script>

    <!-- AngularJS Admin App -->
    <script src="js/acomsysAdmin.js"></script>

  </head>

<body>

    <div class="header">
     <img class="header-image" src="https://cloudstack.apache.org/images/monkey.png" border="0" /> 
     <span class="header-text">Welcome to Acomsys!</span>
     
  </div>

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Administrator - Sign In</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" name="loginForm" class="form-horizontal" role="form" ng-controller="adminLoginController">
                            
                            <div ng-messages="(loginForm.username.$dirty && loginForm.username.$error)">
                                <div ng-message="required" class="alert alert-danger">You didn't enter username</div>
                                <div ng-message="minlength" class="alert alert-warning">The value entered is too short</div>
                            </div>
                            
                            <div ng-messages="(loginForm.userpassword.$dirty && loginForm.userpassword.$error)">
                                <div ng-message="required" class="alert alert-danger">You didn't enter password</div>
                            </div>
                            
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" ng-model="field" required minlength="5" name="username" type="text" class="form-control" value="" placeholder="username or email">
                            </div>
                            
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" name="userpassword" ng-model="password" required type="password" class="form-control" placeholder="password">
                            </div>
                                    

                                
                            <div class="input-group container-fluid">
                                
                                    <label class="col-ld-3">
                                        <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me &nbsp;
                                    </label>
                                    <label class="col-ld-3">
                                        <a id="btn-login" href="#" class="btn btn-success">Login  </a>
                                    </label>   
                                
                            </div>


                        </form>     



                        </div>                     
            </div>  
        </div>
    </div>
    

</body>

</html>
